<div class= "container">
    <div class= "box">
      <h3>Register Form</h3>
      <mat-form-field class="example-full-width">
        <mat-label>First Name :</mat-label>
        <input type="text" matInput placeholder="Ex: David">
      </mat-form-field>&nbsp;

      <mat-form-field class="example-full-width">
        <mat-label> Last Name :</mat-label>
        <input type="text" matInput placeholder="Ex: david@gmail.com">
      </mat-form-field><br>
      
      <mat-form-field class="example-full-width">
        <mat-label> Email :</mat-label>
        <input type="email" matInput placeholder="Ex: david@gmail.com">
      </mat-form-field><br>

      <mat-radio-group aria-label="Select an option">
        <mat-label>Select Gender :</mat-label>
        <mat-radio-button value="1"> Male </mat-radio-button>
        <mat-radio-button value="2"> Female </mat-radio-button>
      </mat-radio-group><br>

      <mat-form-field class="example-full-width">
        <mat-label> Mobile No :</mat-label>
        <input type="number" matInput placeholder="Ex: +91****">
      </mat-form-field><br>

      <div>
        <button mat-button color="primary" class="example-button-row">Register</button>
      </div>

      
    </div>
</div>
