<div class= "container">
    <div class= "form-group">
        <h3>Enter Employee Information</h3>
        <form #frmReg ="ngForm" method="POST" (submit)="saveData(frmReg.value)">
            <input type="number" placeholder="Employee ID" class="form-control" name="Emp_id" #Emp_id= "ngModel" ngModel  ><br>
            <input type="text" placeholder="First Name" class="form-control" name="FName" #FName= "ngModel" ngModel><br>
            <input type="text" placeholder="Last Name" class="form-control" name="LName" #LName= "ngModel" ngModel><br>
            <input type="text" placeholder="City" class="form-control" name="City" #City= "ngModel" ngModel><br>
            <input type="number" placeholder="Mobile Number" class="form-control" name="Mobile" #Mobile= "ngModel" ngModel><br>
            <button>Submit</button>
        </form>

    </div>

    <h3>Employee Details</h3>
<div>
    <table class= "table table-hover">
        <thead>
           <tr>
            <th>Emp_Id</th>
            <th>Emp FName</th>
            <th>Emp LName</th>
            <th>City</th>
            <th>Mobile</th>
           </tr>

           <!-- <tr>
            <th>Emp_Id</th>
            <th>Emp Name</th>
            <th>Emp Username</th>
            <th>Email</th>
            <th>City</th>
           </tr>
        </thead> -->
        <tbody>
            <tr *ngFor= 'let emp of employees'>
                <td>{{emp.Emp_id}}</td>
                <td>{{emp.FName}}</td>
                <td>{{emp.LName}}</td>
                <td>{{emp.City}}</td>
                <td>{{emp.Mobile}}</td>
            </tr>
            <!-- <tr *ngFor= 'let emp of employees'>
                <td>{{emp.id}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.username}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.address.city}}</td>
            </tr> -->

        </tbody>
    </table>
</div>
</div>



