<div class= "form-group">
   <fieldset>
       <legend>Filter Products</legend>
       
    <input type="radio" name="filter" value="All" [(ngModel)]= 'selectedCategoryName' (change)="radioButtonChange()"><span> All ({{allCount}})</span>
    <input type="radio" name="filter" value="Electronics" [(ngModel)]= 'selectedCategoryName' (change)="radioButtonChange()"><span> Electronics ({{electronicsCount}})</span>
    <input type="radio" name="filter" value="Cloths" [(ngModel)]= 'selectedCategoryName' (change)="radioButtonChange()"><span> Cloths ({{clothsCount}})</span> 
    
   </fieldset>
</div>
