.cart{
    border:2px solid darkcyan;
    border-radius: 13px;
    box-shadow: 0 5px 5px;
    width:400px;
    padding:30px;
    margin:30px;
    float: left;
}
.catlog{
    position: fixed;
    left:900px;
    top:50px;
    cursor: grab;
}

