<div class="container">
    <div class="form-group">
        <h3>Registration</h3>
        <dl>
            <dt>User Name:</dt>
            <dd><input type="text" class="form-control" [(ngModel)]="name" (keyup)='verifyUser()' (blur)='clearMsg()' required>
                <span [innerHTML]='errorName'></span>
                
            </dd>
            <dt>Password:</dt>
            <dd><input type="text" class="form-control" [(ngModel)]="password" [ngClass]='errorClass' (keyup)='verifyPassword()' (blur)='clearMsg()' (keypress)='capsKey($event)'>
                <span [innerHTML]='errorPwd'></span>
                <div>
                    <span class="fas fa-exclamation-triangle text-warning" *ngIf= 'capsOn'>{{capsDisplay}}</span>
                </div>
                
            </dd>
            <dd><input type="checkbox" [(ngModel)]=isTermsChecked>
                <span>I Accept</span>
            </dd>
        </dl>
        <button class= "btn btn-primary" [disabled]='!isTermsChecked'>Register</button>
    </div>
</div>
